JWT_SECRET=replace-with-a-random-secret
DATABASE_URL=jdbc:postgresql://localhost:5432/condominio
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin

STORAGE_SECRET_KEY=
STORAGE_ACCESS_KEY=
STORAGE_NAMESPACE=
STORAGE_REGION=
STORAGE_BUCKET=
